{% extends 'base.twig' %}

{% block content %}

<h2>Admin section</h2>

{% if users %}
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.userid }}</td>
            <td><a href="/user/{{ user.username }}">{{ user.username }}</a></td>
            <td><a href="/admin/delete/{{ user.username }}/{{ csrf_token }}">Delete this user</a></td>
            <td><a href="/admin/doctor/{{ user.username }}/{{ user.isdoctor == '1' ? 0 : 1 }}">{% if user.isdoctor == '1' %} Set as normal {% else %} Set as doctor {% endif %}</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    The users table is empty.
{% endif %}

{% if posts %}
    <table>
        <tr>
            <th> Id</th>
            <th> Title</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td><a href="/posts/{{ post.postid }}">{{ post.title }}</a></td>
            <td><a href="/admin/delete/post/{{ post.postid }}/{{ csrf_token }}">Delete this post</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    There are no posts
{% endif %}

{% endblock %}
