{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info }} <br />
{{ flash.error }} <br />

{% if user %}
    <table>
        <tr>
            <td>Id</th>
            <td>{{ user.userid }}</th>
        </tr>
        <tr>
            <td>Username:</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Bio:</td>
            <td>{{ user.bio }}</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{ user.age }}</td>
        </tr>

        <tr>
            <td>Doctor:</td>
            <td>{{ user.isdoctor == '1' ? 'Yes' : 'No' }}</td>
        </tr>
    </table>
{% else %}
    Could not find a user with username "{{ username }}".
{% endif %}

{% endblock %}
