{% extends 'base.twig' %}

{% block content %}
    <h3> {{ flash.msg }}</h3>
    {% if post %}
        <h2>{{ post.title }}</h2> <h4> by {{post.author }}</h4>
        {% if post.isPayedPost %}<b style="color:red;">This question is for a doctor</b> {% endif %}
        <p> {{ post.content }}</p>
        <lb></lb>
        <h2>COMMENTS</h2>
        {% for comment in comments %}
            <div class="review">
                <b>Author:</b> {{ comment.author }} <b> posted on: {{ comment.date }}
                    {% if comment.authorIsDoctor %} <b style="color:red;">Doctor answer</b> {% endif %}</b>
                <pre> {{ comment.text }}</pre>
            </div>
        {% else %}
            <br>
            Be the first one to write a comment for this post.
            <br>
            <br>
        {% endfor %}
        <h2>Post your comment here</h2><br />
        <p>Comment: </p>
        <form method="post" action="">
            <textarea cols="40" rows="10" name="text" ></textarea> <br />
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">
            <input type="submit" value="Submit comment" name="submit"></button>
        </form>

    {% else %}
        <h1> Unable to find that post. </h1>
    {% endif %}

{% endblock %}
