{% extends 'base.twig' %}

{% block content %}

    <h2>Payment information</h2>

    {{ flash.info}} <br />
    {{ flash.error}} <br />

    {% if user %}
        {% if user.bankcard %}
            <br> You've registered the bank account number {{ user.bankcard }}.
        {% else %}
            <br> You haven't registered a bank account number.
        {% endif %}
        <br> You can edit your card number on the <a href="{{ urlFor('editprofile') }}">edit profile page</a> <br>

        <br> You've <b>spent</b> a total of {{ user.moneyspent }} USD.
        {% if isDoctor %}<br> You've <b>earned</b> a total of {{ user.moneyearned }} USD. {% endif %}
    {% else %}
        Could not find a user with username "{{ username }}".
    {% endif %}

{% endblock %}
